.footersection{
    display: flex;
   background-color:rgba(207, 175, 133, 0.37);
}
.Aboutus{
    max-width: 600px;
    padding-left: 70px;
    padding-top: 110px;
    font-size: 17px;
    
}
.Aboutus p{
    padding-top: 20px;
}
.Aboutus input{
    margin-top: 30px;
    padding: 10px;
        padding-right: 70px;
    border-radius: 5px;
    border:#2E2E2E;
}
.info{
    display: flex;
    justify-content: space-around;
    gap: 230px;
    margin-top: 20px;
    padding-left: 250px;
    


}
.policy{
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 20px;
    color: #2E2E2E;
}
.information{
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 20px;
    color: #2E2E2E;
}
.NeedHelp{
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 20px;
    color: #2E2E2E;
}
.fimg{
    width: 30px;
    height:auto;
}
.footimg{
    display: flex;
    padding-top: 40px;
    margin-bottom: 70px;
    width:30px;
    gap: 15px;
}
