html,
body {
  margin: 0;
  padding: 0;
}

.hero {
  margin: 0;
  padding: 0;
}
header {
    position: sticky;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 110px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header {
  transition: all 0.3s ease;
}

.header.active {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
header.hidden {
  transform: translateY(-100%);
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.loginsbtn,
.registersbtn {
  font-size: 18px;
  font-weight: 600;
  background-color: #5c2a14;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  padding: 0;
height: 40px;
width: 100px;
}
.login,
.register,
.cart {
  padding-left: 20px;
}
.cart {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: relative;
   z-index: 10;
}
.cart * {
  pointer-events: auto;
}
.login a {
  text-decoration: none;
  color: white;
}
.navbar {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 20px;
}
.navbar a {
  text-decoration: none;
  color: #2a2a2a;
}
.navbar a:hover {
  color: #c8a45d;
}

.logo img {
  width: 250px;
  height: auto;
}
.logo {
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c8a45d;
}
.loginbtn:hover,
.registerbtn:hover {
  background-color: #8a4d14;
}

.search img {
  width: 40px;
  height: auto;
}
